@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--stone100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 100%;
}

p {
    line-height: 25px;
    color: var(--stone600);
}

header > h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

header {
    margin-bottom: 30px;
}

main {
    background-color: var(--white);
}

.content {
    padding: 30px;
    padding-top: 0;
    background-color: var(--white);
}

p, li, table {
    font-family: Outfit, sans-serif;
}

h1 {
    color: var(--stone900);
    line-height: 35px;
}

.prep {
    background-color: var(--rose50);
    border-radius: 10px;
    line-height: 30px;
    color: var(--stone600);
    padding: 5px 30px;
}

span {
    font-weight: 700;
}

.prep h2 {
    color: var(--rose800);
    font-family: Outfit, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.prep ul {
    padding-left: 20px;
}

.prep li {
    padding-left: 25px;
}

.prep li::marker {
    color: var(--rose800);
    font-size: 10px;
}


.ing h2, .inst h2, .nutr h2 {
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
    color: var(--brown800);
}

.ing ul, .inst ol {
    padding: 0 20px;
    line-height: 30px;
    color: var(--stone600);
}

.ing li, .inst li {
    padding-left: 20px;
}

.ing li::marker {
    color: var(--brown800);
    font-size: 10px;
}

.hr {
    border-top: 1px solid var(--stone150);
    margin: 30px 0;
}

.inst li {
    line-height: 25px;
    margin-bottom: 10px;
}

.inst li::marker {
    font-weight: 700;
    color: var(--brown800);
    margin-right: 10px;
}

table {
    text-align: left;
    width: 100%;
    border-spacing: 0;
}

td, th {
    border-bottom: 1px solid var(--stone150);
    padding: 15px 0;
}

.lastRow th, .lastRow td {
    border-width: 0px
}

th {
    font-weight: 400;
    color: var(--stone600);
    padding-left: 40px;
    width: 50%;
}

td {
    color: var(--brown800);
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; margin-bottom: 20px;}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 768px) {
    body {
        margin: 10% 0;
    }
    
    main {
        width: 49%;
        padding: 40px;
        padding-bottom: 25px;
        border-radius: 25px;
    }

    img {
        border-radius: 15px;
    }

    .content {
        padding: 0;
    }

    .attribution {
        margin-bottom: 0;
    }
}
